body {
    background-color: #0f1721;
    display: flex;
    justify-content: center;    /* align horizontally */
    align-items: center;        /* align vertically */
    height: 100vh;              /* Full viewport height */
}

.wrapper {
    display: flex;
    gap: 15px;                  /* gap between the cards */
}

.wrapper .card {
    width: 150px;
    height: 150px;
    border-radius: 7px;
    background-color: #c873fd;
    cursor: pointer;
    transition: 0.3s ease;
}

.wrapper:hover > :not(:hover) {
    /* Targets all children of .wrapper that are not being hovered. */
    filter: blur(5px);
    opacity: 0.5;
}
